.contactWrapper {
    padding: 20px ;
    position: relative;
    top: 70px;
}

.contactSpan {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #2d5986;
    margin-right: 5px;
    font-size: 14px;
}

.search{
    width: 300px;
   margin: 0 auto 10px;
}

.icon {
    font-size: 20px;
    color: #1f2e2e;
}

.searchInput {
    border: 2px solid #669999;
   border-radius: 5px;
   width: 80%;
   margin-left: 10px;
   padding: 5px;
   background-color: #669999;
   color: #141f1f;
   font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.noAvailable {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #141f1f;
    margin-top: 20px;
}

